<div class="card bg-dark text-white text-center">
  <img src="https://images.hdqwalls.com/download/grey-material-design-4k-7l-3840x2160.jpg" class="card-img" alt="Stony Beach"/>
  <div class="card-img-overlay">
    <h1 class="card-title">Welcome</h1>
    <p class="card-text">
      This is a wider card with supporting text below as a natural lead-in to additional
      content. This content is a little bit longer.
    </p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>