<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Projects</title>
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <span>|</span>
        <a href="/projects">Projects</a>
        <span>|</span>
        <a href="/contact">Contact</a>
    </div>
    <div class="content">
        <h1 class="center">My Projects</h1>
        <div class="projects">
            <div class="project">
                <img class="projectimg" src="~/images/project1.jpg" alt="project1">
                <div class="info">
                    <h3>Project 1</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque fugit dolorem numquam, ipsum sint impedit cumque libero optio vero consectetur quidem harum sit assumenda nihil eligendi, similique fugiat! Itaque, dolorum?</p>
                </div>
            </div>
            <div class="project">
                <img class="projectimg" src="~/images/project2.png" alt="project2">
                <div class="info">
                    <h3>Project 2</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque fugit dolorem numquam, ipsum sint impedit cumque libero optio vero consectetur quidem harum sit assumenda nihil eligendi, similique fugiat! Itaque, dolorum?</p>
                </div>
            </div>
            <div class="project">
                <img class="projectimg" src="~/images/project3.jpg" alt="project3">
                <div class="info">
                    <h3>Project 3</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque fugit dolorem numquam, ipsum sint impedit cumque libero optio vero consectetur quidem harum sit assumenda nihil eligendi, similique fugiat! Itaque, dolorum?</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>