@model Hobbie
<div class="col-6">
        <table class="table table-dark">
            <thead>
                <tr>
                    
                    <th scope="col">Name</th>
                    <th scope="col">Content</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Hobby)
                {
                    <tr>
                        <td><a asp-action="HobbyInfo" asp-route-id="@item.HobbieId">@item.Name </a></td>
                        <td>@item.Content</td>
                    </tr>
                }
            </tbody>
        </table>